defaultDomain: "blah" # The default domain to redirect to.
domainSettingsS3Bucket: "blah" # The name of the S3 bucket that contains the redirects.json.
domainSettingsS3Key: "blah" # The S3 key to the redirects.json.
